body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff; 
    color: #333;
    background-image: linear-gradient(to bottom, #ffffff, #e0f7ff); 
    background-repeat: no-repeat;
    background-attachment: fixed;

    
}


h1, h2 {
    color: #0056b3; 
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007BFF; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: justify;
    margin: 20px;
}

h2 {
    border-bottom: 2px solid #007BFF; 
    display: inline-block;
    padding-bottom: 5px;
}
.imagen-derecha{
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
}
.imagen-izquierda{
position: absolute;
top: 0;
right: 0;
width: 40px;
}